$constants: (
    'golden-ratio': 0.618
);

$colors: (
	'a': #72CCCA,
	'b': #00B5B5, 
	'c': #008891, 
	'd': #BADA55, 
	'e': #97CE68, 
	'f': #71BA51, 
	'g': #EE543A, 
	'h': #CF000F, 
	'i': #710301, 
	'sky-dark': #11132F, 
	'sky-medium': #1A3269, 
	'sky-light': #00587A,
	'moon': #396a90
); 

$layout: (
	'header-width': 850px, 
	'header-border': 20px
); 