.Star {
	background: #47D2E9; 
	border-radius: 50%; 
	position: absolute; 
	box-shadow: 0px 0px 6px 0px rgba( 200, 200, 256, 0.4 );
	transition: box-shadow 2s, background 2s;  

	&-wrapper {
		position: fixed; 
		top: 0; 
		left: 0; 
		height: 100%; 
		width: 100%; 
	}

	&--active {
		background: white; 
		box-shadow: 0px 0px 20px 1px rgba( 256, 256, 256, 0.8 );
	}
}
